#Categories{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
.ClassSort{
    margin: 30px;
    margin-bottom: 0px;
    padding-left: 15px;
    width: auto;
    height: 60%;
    aspect-ratio: 1/0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 550;
}
img {
    height: 80%;
    border-radius: 30px;
    width: auto;
    aspect-ratio: 1.5/1;
}