#Categories{
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 300px;
    grid-auto-rows: 200px;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 10%;
}
.ClassSort{
    margin: 0px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/0.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 550;
    box-sizing: border-box;
}
img {
    height: 80%;
    border-radius: 30px;
    width: auto;
    aspect-ratio: 1.5/1;
}