

#info_profil{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 40% 60% ; 
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "pp rest"
    "desc desc"
    ;
}

.profil_picture{
    border-radius: 50%;
    grid-area: pp;
    display: block;
    margin: 10%;
    border: 1px solid black;
}

.info_profile_infos{
    grid-area: rest;
    display: block;
    margin-left: 30px;
}

.description{
    grid-area: desc;
    margin: 2em;
}

.pseudo{
    font-size: xx-large;
    margin-bottom: 0px;
}
.city{
    margin: 0px;
}
.stars{
    margin: 0px;
}