#info_profil{
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: 40% 60% ; 
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "pp rest"
    "desc desc"
    ;
}

.profil_picture{
    border-radius: 50%;
    grid-area: pp;
    display: block;
    margin: 10%;
    border: 1px solid black;
}

.info_profile_infos{
    grid-area: rest;
    display: block;
    margin-left: 30px;
}

.description{
    grid-area: desc;
    display: flex;
    margin-inline: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.pseudo{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 5px;

}
.city{
    margin: 0px;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 5px;

}
.stars{
    margin: 0px;
    padding-left: 5px;

}