/* c'est plus simple d'avoir une page css par page + une pour le layout */
#header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 7%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* so it stays up even after the padding */
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(180, 175, 175);

}
.head{
    margin: 10px;
    font-size: 20px;
}

#NavBar {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 9%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-color: black;
    z-index: 10;
}

.itemNavbar  {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: larger;
}
.itemNavbar.active::before {
/* trait en dessous de la nav bar */
    content: '';
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: rgb(139, 136, 136);
    border-radius: 2px;
  }
