/* c'est plus simple d'avoir une page css par page + une pour le layout */
#header{
    display: flex; 
    width: 100%;
    align-items: center;
    height: 7%;
    background-color: whitesmoke;
    /* position: fixed; */
    z-index: 10;
    border-bottom: 1px solid gray;

}
.head{
    margin: 10px;
    font-size: 20px;
}

#NavBar {
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-color: black;
    z-index: 10;
}

.itemNavbar  {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: larger;
}
.itemNavbar.active::before {
/* trai en dessous de la nav bar */
    content: '';
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }
