.CatMenu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0px 20px;
    margin: 0px 20px;
}

.MiniCat{
    /* display: flexbox; */
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.ImageMiniCat{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 20%;
    background-color: rgb(247, 224, 224);
    border: 1.2px solid rgb(226, 188, 188);
}

.TitleMiniCat{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    white-space: pre-line;
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    
    
}