.tktfrr{
    /* For the scroll */
    display: flex;
    overflow-x: scroll;
    flex: 0 0 auto;

}

.Minilising{
    position: relative;
    width: 130px ;
    height: 190px;
    border: 0px;
    border-radius: 22px;
    overflow: hidden;
    padding: 0px;
    margin: 0.2em;
    margin-top: 0px;
    margin-bottom: 20px;
    /* prevents shrinking of the item */
    flex: 0 0 auto;
    margin-left: 6% ;
}

.Minilising-img{
    /* à voir par rapport à comment gerer les publications */
    position: relative;
    object-fit: cover;
    border-radius: 0px;
    height: 100%;
    width: 100%;
}

/* le >>before vient de chatGPT */
.Minilising::before{
    content: "";
    position: absolute;
    inset: 0;
    /* I'm not using border radius so it's a bit softer on the corners */
    /* border-radius: 30px; */
    pointer-events: none;
    z-index: 2;
}

.Minilising-title{
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0px;
    color: rgb(255, 255, 255);
    /* fonts */
    font-size: 15px;
    font-weight: 550;
    /* outline */
    
}