/* Upper Part */

.ScrollUpper{
    height: 63vh;
    position: relative;
}

.ScrollUpper * {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box; 
}

.ScrollTitle{
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 30px;

}

.scrollImgages{
    height: 70vh;
    width: 100vw;
    border-bottom: 2px solid black;
}

.PlusCart{
    position: absolute;
    display: inline-block; 
    transform: scaleX(-1); /* flips horizontally */
    left: 20px;
    bottom: 30px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20%;
}

.PlusCart *{
    margin: 0 8px;
    margin-top: 5px;
}

.like{
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 25px;
    background-color: transparent;
    border: 0;
}

.scrollImg{
    height: 100%;
    width: 100%;
    
}

/* Lower Part */

.ScrollLower{
    height: 20vh;
    position: relative;
}
.ScrollLower * {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box; 
}

/* Mini profile parts  */

.MiniProfil{
    display: flex;
    position: relative;
    height: 10vh;
    width: 60vw;
}

.MiniProfilPicture{
    display: flex;
    height: 80%;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto 5%;
}

.MiniProfilName{
    position: absolute;
    margin: 0px;
    top: 15%;
    left: 35%;
    font-size: 25px;
}

.MiniProfilCity{
   position: absolute;
   margin: 0px;
   top: 50%;
   left: 36%; 
    font-weight: 200;
}


/* the rest */
.profil{
    position: relative;

}

.ProfilStars{
    position: absolute;
    top: 25%;
    right: 40px;
    /* flex to have the gap */
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.scrollDesc{
    position: absolute;
    height: 6vh;
    bottom: 20px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.ingredients{
    position: absolute;
    width: 100%;
    height: 2vh;
    display: flex;
    bottom: 5px;
    justify-content: center;
    background-color: transparent;
    border: none;
}



