#ContSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 30px;
}
#SearchInput{
    border: 0px;
    height: 40px;
    width: 80%;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
}
#SearchButton{
    background-color: rgb(240, 183, 183);
    border: 0px;
    height: 40px;
    width: auto;
    aspect-ratio: 1/0.7;
    border-radius: 12px;
    margin-left: 10px; 
    cursor: pointer;
}
#SearchButton:hover{
    background-color: rgb(236, 160, 160);
}
#SearchButton:active{
    background-color: rgb(236, 160, 160);
}
