body{
    background-color: rgb(255, 238, 223);
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* 
Je le garde au cas ou :)
body{
    background-color: rgb(255, 238, 223);
    height: 100%;
} */

.Title{
    margin: 0px;
    padding: 2rem;
    padding-top: 1rem;
}