body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: whitesmoke;

}
.head{
    margin: 10px;
    font-size: 20px;
}
#body{
    background-color: rgb(255, 238, 223);
    height: 100%;
}
#ContSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 30px;
}
#SearchInput{
    border: 0px;
    height: 40px;
    width: 80%;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
}
#SearchButton{
    background-color: rgb(233, 205, 133);
    border: 0px;
    height: 40px;
    width: auto;
    aspect-ratio: 1/0.7;
    border-radius: 18px;
    margin-left: 10px; 
    cursor: pointer;
}
#SearchButton:hover{
    background-color: rgb(232, 192, 92);
}
#SearchButton:active{
    background-color: rgb(225, 173, 43);
}

.ClassSort{
    margin: 30px;
    margin-bottom: 0px;
    padding-left: 15px;
    width: auto;
    height: 60%;
    aspect-ratio: 1/0.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 550;
}
img {
    height: 80%;
    border-radius: 30px;
    width: auto;
    aspect-ratio: 1.5/1;
}
#NavBar {
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 5px;
    border-color: black;
}

.itemNavbar  {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: larger;
}
.itemNavbar.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 10%;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }
